@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

:root {
  --color-black: #000000;
  --color-darkergray: #080808;
  --color-darkgray: #111111;
  --color-gray: #222222;
  --color-darkblue: #000022;
  --color-shineblue: #1e1a57;
  --color-white: #f2fdff;
}

* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(
    135deg,
    var(--color-gray) 0%,
    var(--color-darkgray) 30%,
    var(--color-darkgray) 70%,
    var(--color-darkergray) 100%
  );
  margin: 0;
}

body {
  background-image: linear-gradient(
    135deg,
    var(--color-darkblue) 0%,
    var(--color-black) 40%,
    var(--color-black) 100%
  );
  margin: 4rem;
  border-radius: 15px;
  box-shadow: 20px 14px 12px rgba(0, 0, 0, 0.4);
  height: 90vh;
  padding: 2rem;
}

header {
  border-style: dotted;
  border-color: #222222;
  width: 100%;
  margin: 0;
  position: relative;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
}

nav {
  border-style: dotted;
  border-color: #a71a1a;
  padding: 1rem;
}

footer {
  border-style: dotted;
  border-color: #080808;
  padding: 1rem;
}

.logo {
  width: 10%;
  max-width: 100%;
  height: auto;
  float: left;
  border-style: dotted;
  border-color: #f2fdff;
  position: relative;
}

.nav-bars {
  float: right;
  list-style: none;
  text-decoration: none;
}

.nav-link {
  background-image: linear-gradient(
    to right,
    var(--color-black) 0%,
    var(--color-shineblue) 55%,
    var(--color-black) 100%
  );
}
.nav-link {
  padding: 1rem 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  transition: 0.7s;
  background-size: 300% auto;
  color: var(--color-white);
  border-radius: 0.3rem;
  border-color: var(--color-darkblue);
  display: block;
}

.nav-link:hover {
  background-position: right center; /* change the direction of the change here */
  color: var(--color-white);
  text-decoration: none;
  border-color: var(--color-gray);
  transform: scale(1.025, 1.025);
}
