@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

:root {
  --color-black: #000000;
  --color-darkergray: #080808;
  --color-darkgray: #111111;
  --color-gray: #222222;
  --color-darkblue: #000022;
  --color-shineblue: #1e1a57;
  --color-white: #f2fdff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-image: linear-gradient(
    135deg,
    var(--color-gray) 0%,
    var(--color-darkgray) 30%,
    var(--color-darkgray) 70%,
    var(--color-darkergray) 100%
  );
  padding: 4rem;
  width: 100%;
  height: auto;
}

body {
  background-image: linear-gradient(
    135deg,
    var(--color-darkblue) 0%,
    var(--color-black) 40%,
    var(--color-black) 100%
  );
  margin: 0;
  border-radius: 15px;
  box-shadow: 20px 14px 12px rgba(0, 0, 0, 0.4);
  padding: 2rem;
  width: 100%;
  height: 140vh;
}

header {
  width: 100%;
  height: 15rem;
  margin: 0;
  top: 0;
  display: grid;
  grid-template-columns: 15rem 1fr 1fr;
  grid-template-rows: 7rem auto 5rem;
  position: sticky;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  color: var(--color-white);
  text-transform: uppercase;
  margin: 0;
  width: auto;
  height: auto;
}

nav {
  margin: 0;
  width: auto;
  height: auto;
}

section {
  color: #f2fdff;
}

footer {
  border-style: dotted;
  border-color: #080808;
  padding: 1rem;
}

.logo {
  width: 13em;
  padding-top: 1rem;
  min-width: none;
  height: auto;
  grid-column: 1 / 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.company {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.nav-bars {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  float: right;
}

.nav-link {
  background-image: linear-gradient(
    to right,
    var(--color-black) 0%,
    var(--color-shineblue) 55%,
    var(--color-black) 100%
  );
}
.nav-link {
  padding: 1rem 4rem;
  width: 17rem;
  height: auto;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  transition: 0.7s;
  background-size: 300% auto;
  color: var(--color-white);
  border-radius: 0.3rem;
  border-color: var(--color-darkblue);
}

.nav-link:hover {
  background-position: right center; /* change the direction of the change here */
  color: var(--color-white);
  text-decoration: none;
  border-color: var(--color-gray);
  transform: scale(1.025, 1.025);
}
